<div class="footerContainer">
    <div class="socialsContainer">
        <a href="https://www.threads.net/@cryptochrisjames?hl=en"><i class="socialIcon fa-brands fa-threads"></i></a>
        <a href="https://github.com/CryptoChrisJames"><i class="socialIcon fa-brands fa-github"></i></a>
        <a href="https://www.youtube.com/@Collectthestory"><i class="socialIcon fa-brands fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/cryptochrisjames/"><i class="socialIcon fa-brands fa-linkedin"></i></a>
    </div>
    <p class="text-center text-xs">&copy; 2024 CryptoChrisJames. All rights reserved.</p>
</div>