<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body>
    {{!-- {{> header}}  <!-- Load the header partial --> --}}
    {{{body}}}    <!-- Content from the page template will be injected here -->
    {{!-- {{> footer}}  <!-- Load the footer partial --> --}}
</body>
</html>