<div class="aboutContent">
    <h1> About Me</h1>
    <img src="https://content.cryptochrisjames.com/blog/the-beginning/ChrisHeadshot.jpeg" alt="Headshot of Christopher Smith">
    <p>I'm a versatile Software Engineer with a passion for Entertainment Production, uniquely positioned at the intersection of technology and creativity. My software engineering journey spans four companies in the healthcare sector, where I've mastered the full stack of development technologies and cloud solutions. Simultaneously, I've pursued my love for music and film production, creating over a hundred music tracks and producing multiple short films and a feature film, taking on roles from Digital Imaging Technician to producer and actor.</p>
    <p>My vision is to leverage this dual expertise in software engineering and entertainment to drive innovation in the industry. I'm particularly excited about exploring AI art tools, AR/VR, and other technologies that can enhance storytelling, streamline production workflows, and boost audience engagement. By bridging these two dynamic fields, I aim to develop cutting-edge solutions that address modern challenges in content creation, production efficiency, and inclusive storytelling, ultimately reshaping the future of entertainment technology.</p>
    <a href="mailto:csmith4work@gmail.com?subject= Reaching Out From Your Blog">
        <p>If you'd like to get in contect with me, feel free to send me an email here, or contact me through LinkedIn, below.</p>
    </a>
</div>